/*RESET.CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/*END RESET.CSS*/
.container {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  background-image: url("../images/bckg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container header {
  margin: 0 auto;
  text-align: center;
  height: 20vh;
  text-shadow: 0 0 5px #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#f0da15), to(transparent));
  background: linear-gradient(to bottom, #f0da15, transparent);
}

.container header h1 {
  padding-top: 20px;
  font-size: 90px;
  font-family: 'Zhi Mang Xing', cursive;
}

.container header p {
  margin: 20px auto;
  font-family: 'Raleway', sans-serif;
  width: 95%;
  font-size: 20px;
}

.container .wrap {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  border: 3px solid #f0da15;
  border-radius: 20px;
  height: 70vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 300px;
      grid-template-columns: auto 300px;
}

.container .wrap .clocks {
  font-family: 'Changa', sans-serif;
  text-shadow: 0 0 5px #ffffff;
  font-size: 80px;
  text-align: right;
}

.container .wrap .clocks .simple-time {
  padding: 15px;
  margin: 10vh auto;
  background-color: #f0da15b3;
}

.container .wrap .clocks .each-split {
  font-size: 0.8em;
  padding: 15px;
  margin: 7vh auto;
  background-color: #f0da15b3;
}

.container .wrap .clocks .btns-block {
  text-align: center;
}

.container .wrap .clocks .btns-block button {
  font-size: 0.5em;
  border-radius: 50%;
  padding: 20px;
  width: 180px;
  background-color: rgba(240, 218, 21, 0.7);
  border: 3px solid #f0da15;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  cursor: pointer;
}

.container .wrap .clocks .btns-block button.display-none-class {
  display: none;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.container .wrap .splits {
  border-left: 3px solid #f0da15;
}

.container .wrap .splits h3 {
  padding: 10px;
  font-size: 50px;
  font-family: 'Zhi Mang Xing', cursive;
  text-align: center;
  border-bottom: 3px solid #f0da15;
}

.container .wrap .splits .splits-table {
  font-weight: 600;
  font-family: 'Changa', sans-serif;
  font-size: 30px;
  text-align: center;
}

.container .wrap .splits .splits-table div {
  margin-top: 10px;
}

.container .wrap .splits .splits-table span {
  font-weight: 400;
}

.container footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 10vh;
  background: -webkit-gradient(linear, left bottom, left top, from(#f0da15), to(transparent));
  background: linear-gradient(to top, #f0da15, transparent);
  text-align: right;
}

.container footer span {
  position: relative;
  top: 50%;
  right: 2%;
  font-family: 'Raleway', sans-serif;
}
