/*RESET.CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/*END RESET.CSS*/
.container {
  background: -webkit-gradient(linear, left top, left bottom, from(#f0da15), to(transparent));
  background: linear-gradient(to bottom, #f0da15, transparent);
  font-family: "Raleway", sans-serif;
}

.container header {
  text-align: center;
  padding: 30px 0;
}

.container header h1 {
  font-size: 80px;
  font-family: "Zhi Mang Xing", cursive;
}

.container .wrap {
  width: 90%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 300px;
      grid-template-columns: auto 300px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.container .wrap .clocks {
  font-size: 80px;
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.container .wrap .clocks .each-split {
  font-size: 0.8em;
}

.container .wrap .clocks .btns-block button {
  font-size: 0.5em;
  border-radius: 50%;
  padding: 20px;
  width: 180px;
  border: 1px solid #f0da15;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  cursor: pointer;
}

.container .wrap .splits {
  border-left: 1px solid #f0da15;
  text-align: center;
  font-size: 30px;
}

.container .wrap .splits h3 {
  padding: 10px;
  font-size: 50px;
  font-family: "Zhi Mang Xing", cursive;
}

.container .wrap .splits .splits-table div {
  margin-top: 10px;
}

.container footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 10vh;
}

.container footer span {
  position: absolute;
  top: 50%;
  right: 2%;
}
